.sideDrawer {
    width: 70%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 200;
    top:80px;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideDrawer.show{
    transform: translateX(0);
}

.linkItem{
    text-decoration: none;
    color: rgb(58, 58, 58);
    padding-top: 0px;
    font-size: 33px;
}
.link{
    margin-bottom: 40px;
 

}
.linkItem:hover{
    color: black;

}
@media (max-width:700px) {
    .linkItem{font-size: 28px;
   }
}

@media (max-width:380px) {
    .linkItem{font-size: 25px;
   }
}

@media (max-width:335px) {
    .linkItem{font-size: 20px;
      
     
   }
}