@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
body {
  margin: 0px;

}

.App {
  box-sizing: content-box;
  
  width: 100%;
  font-family: 'Inter', sans-serif;

}

.languageContainer{
  width: 100%;
    height: 100vh;
    background-color: rgb(38, 37, 37);
    position: fixed;
    z-index: 200;
    top:0;
    opacity: 0.9;
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.language{
  margin-bottom: 30px;
  background-color: white;
  border: none;
  border-radius:5px;
  cursor: pointer;
  width: 100px;
  height: 20px;

}